body{
    background-color: aquamarine;
}
button{
    background-color: brown;
    height: 35px;
    width: 35px;
    border-radius: 20%;
    border: 2px solid green;
    color: yellow;
}
#result{
    background-color: beige;
    border-radius: 10%;
    height: 35px;
}